.footer {
    margin-top: auto;
    border-top: 1px solid #8a8a8a;
    bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
